body{
    background-color: #979494;
    padding: 25px;
}
#kklogo{
    max-height: 150px;
    display: flex;
    justify-content:flex-start
}
#fullname{
    max-width: 375px;
}
nav{
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 20px;
    background-color: black;
}
li{
    list-style-type: none;
    text-decoration: none;
}
a{
    color: white;
    list-style: none;
    text-decoration: none;
}
nav a{
    list-style-type: none;
    text-decoration: none;
}

a:hover{
    color: #18B8FF;
}
#sun{
    display: flex;
    align-content: center;
}

p{
    font-size: small;
    display: flex;
    justify-content: center;
}


@media screen and (max-width:600px) {
    #kklogo{
        display: none;
    }
    #ul{
        padding-right: 10px;
    }
    #sun{
        max-width: 375px;
        min-width: none;
        align-self: center;
        margin: auto;
    }
}

@media screen and (min-width:601px)and (max-width:1024px){
    #sun{
        max-width: 500px;
        min-width: 300px;
        max-width: auto;
        display: block;
        align-items: center;
        margin: auto;
    }
}

@media screen and (min-width:1025px) {
    #sun{
        min-width: 500px;
        max-width: 1000px;
        display: grid;
        align-content: center;
        margin: auto;
    }
}